################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Battle-Boats/Battle-Boats/Instructions.txt
/src/Battle-Boats/Battle-Boats/Instructions.txt
